###Python项目
#屏蔽环境
venv/
env/
__pycache__/
*.py[cod]
*.egg-info/


#数据/输出
*.csv/
*.xlsx/
*.db
*.sqlite3
output/
results/

#Jupyter Notebook
.ipynb_checkpoints/

#IDE
.idea/
.vscode/

###Node.js / 前端
node_modules/
dist/
build/
.env.local
.env.propduction
.env.development
*.log


###通用
#系统文件
.DS_Store
Thumbs.db

#编辑器
.idea/
.vscode/
*.swp
*.swo

#日志
*.log
logs/

#临时文件
*.tmp
.cache/